<html>
    <head>
        <title>
        <p style="color:#66ff66";>Welcome to {{ http_host }} !</p>
        </title>
    </head>
    <body>
        <h1>
        <p style="color:#ff0000";>Success! The {{ http_host }} virtual host is working!</p>
        </h1>
    </body>
</html>